.banner{
    border-top: solid 2px #febf2f;
    width: 100%;
}

.homepage{
   
    
}

.carousel-caption{
    top: 300px;
}

#main-footer{
    border-top: solid 2px #febf2f;
}

#aboutBanner, #productBanner, #testimonialsBanner, #contactBanner{
    border-top: solid 2px #febf2f;
    
}

#aboutMain{
    background-color: #353b40;
}

.card{
    border:none;
}

.testi{
    min-height: 250px;
}

#message{
    height: 100px;
}

.blockquote, .blockquote-footer {
    font-size: 16px;
  }

  
  
 

